<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <ConnectionStrings>
      <add name="Dylan" ConnectionString =" server = DESKTOP-DL1H5IU\DYLAN ; Database= prointern ; integrated security = true" providerName ="System.Data.SqlClient"/> 
    </ConnectionStrings>
</configuration>
